.chat-layout {
  display: flex;
  height: 100vh;
  background-color: #0e0e10;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

/* LEFT */
.chat-list {
  width: 400px;
  background-color: #000;
  border-right: 1px solid #262626;
  display: flex;
  flex-direction: column;
}

.chat-list-search-container {
  padding: 10px;
  background: #111;
  border-bottom: 1px solid #262626;
}

.search-input-top {
  width: 90%;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 8px 10px;
  border-radius: 16px;
  border: 1px solid #333;
  background: #2b3137;
  color: #fff;
  outline: none;
}
.search-input-top::placeholder{
  
  color: #fff;
  
}

.chat-list-header {
  font-weight: 600;
  font-size: 18px;
  padding: 6px 0;
}

/* Left user items */
.chat-user {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  cursor: pointer;
}

.chat-user:hover {
  background-color: #1a1a1a;
}

.chat-user.active {
  background-color: #262626;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #444;
  border-radius: 50%;
}

.empty-chat {
  padding: 20px;
  text-align: center;
  color: #777;
}

/* RIGHT */
.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 16px;
  border-bottom: 1px solid #262626;
  font-weight: bold;
  font-size: 18px;
}

.chat-box {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.message {
  max-width: 70%;
  padding: 10px 14px;
  margin-bottom: 8px;
  border-radius: 18px;
  position: relative;
}

.message.sent {
  margin-left: auto;
  background-color: #3797f0;
}

.message.received {
  background-color: #262626;
}

/* Reply preview in messages */
.reply-preview {
  background: rgba(202, 205, 206, 0.074);
  border-left: 3px solid #262626;
  padding: 6px 8px;
  margin-bottom: 6px;
  border-radius: 6px;
  font-size: 12px;
}

.reply-user {
  font-weight: 600;
  font-size: 11px;
  color: black;
}

.reply-icon {
  position: absolute;
  right: -24px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  cursor: pointer;
}

.message:hover .reply-icon {
  opacity: 1;
}

.reply-box {
  background: #222;
  padding: 8px;
  border-left: 3px solid #3797f0;
  margin-bottom: 6px;
  font-size: 13px;
}

.chat-input {
  display: flex;
  padding: 12px;
  border-top: 1px solid #262626;
}

.chat-input input {
  flex: 1;
  background: none;
  border: none;
  color: white;
  outline: none;
}

.chat-input button {
  background-color: #15020200;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  color: #85a1ff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
