/* ===============================
   MAIN LAYOUT (LEFT + RIGHT)
   =============================== */
.home-container {
  height: 100vh;
  display: flex;
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

/* ===============================
   LEFT PANEL
   =============================== */
.home-left {
  width: 230px;
  padding: 40px 30px;
  border-right: 1px solid #262626;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

/* ===============================
   RIGHT PANEL (EMPTY)
   =============================== */
.home-right {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 300px;
  background-color: #000;
  color: #760c2f;
  font-size: 50px;
  font-family: monospace;
  }

/* ===============================
   HEADING
   =============================== */
.home {
  font-size: 48px;
  font-weight: 300;
  font-family: "Brush Script MT", cursive;
  color: #fafafa;
  margin-bottom: 20px;
}

/* ===============================
   BUTTONS
   =============================== */
.home-button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 18px;
  font-size: 15px;
  font-weight: 600;
  color: #fafafa;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c
  );
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  transition: transform 0.15s ease, opacity 0.2s ease;
}
.home-logout {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 700;
  color: #890303;
  background-color: #170303;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 260px;
  text-align: left;
  transition: transform 0.15s ease, opacity 0.4s ease;
}

.home-button-hm{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 18px;
  font-size: 15px;
  font-weight: 600;
  color: #fafafa;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c
  );
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  transition: transform 0.15s ease, opacity 0.2s ease;
  opacity:0.49;
}

/* Hover */
.home-button:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

/* Active */
.home-button:active {
  transform: scale(0.97);
}

/* Icon inside button */
.home-button span {
  font-size: 18px;
}
