
.home-container {
  height: 100vh;
  display: flex;
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}


.home-left {
  width: 160px;
  padding: 40px 30px;
  border-right: 1px solid #4a4747;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}


.home-right {
  flex: 1;
  padding: 40px;
  background-color: rgb(11 16 20);
  overflow-y: auto;
}


.feed-grid-6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 27px;
  max-width: 1100px;
  margin: auto;
  margin-top: 35px;
}


.feed-card {
  background: linear-gradient(
    135deg,
    #18181c,
    #1e1e24
  );
  border-radius: 20px;
  padding: 28px;
  min-height: 180px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.feed-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.5);
}

/* Card title */
.feed-card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ffffff;
}

/* Card text */
.feed-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #cfcfcf;
}


@media (max-width: 900px) {
  .feed-grid-6 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .feed-grid-6 {
    grid-template-columns: 1fr;
  }
}


.home {
  font-size: 34px;
  font-weight: 300;
  font-family: "Brush Script MT", cursive;
  color: #fafafa;
  margin-bottom: 20px;
}


.home-button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 550;
  color: #fafafa;
  background-color: rgb(11 16 20);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  transition: transform 0.15s ease, opacity 0.2s ease;
}
.home-logout {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 700;
  color: #890303;
  background-color:rgb(11 16 20);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 260px;
  text-align: left;
  transition: transform 0.15s ease, opacity 0.4s ease;
}

.home-logout:hover{
  background-color: #262626;
}
.home-button-hm{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 18px;
  font-size: 23px;
  font-weight: 750;
  color: #ffffff;
  background-color: rgb(11 16 20);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  transition: transform 0.15s ease, opacity 0.2s ease;
}

.home-button:hover {
  opacity: 0.9;
  transform: translateY(-1px);
  background-color: #262626;
}

.home-button:active {
  transform: scale(0.97);
}

.home-button span {
  font-size: 18px;
}
